
# /
/build-arch-stamp
/build-indep-stamp
/config.guess
/config.log
/config.status
/config.sub
/autom4te.cache
/Makefile

# /debian/
/debian/leap-platforms-usrp
/debian/files
/debian/*.log
/debian/*.substvars

# /include/
/include/config.h
/include/stamp-h1
